body {
  font-family: "IBM Plex Sans", sans-serif;
}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.authors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 1rem;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 100px;
}

.author-image {
  position: relative;
  width: 64px;
  height: 64px;
  /* padding-bottom: 100%; */
  margin-bottom: 4px;
}

.author-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.org {
  max-width: 80px;
}

.center {
  text-align: center;
}

.author-image img,
.author-fallback {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.author-fallback {
  background-color: #ccc; /* Light gray background */
  color: #333; /* Text color */
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.key-feature-text {
  background-color: #f2f4f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 4rem;
  text-align: start;
}

.key-feature-text h3 {
  font-size: 1.5rem;
  margin-bottom: 24px;
  font-weight: 600;
  line-height: 1.125;
  color: #363636;
  width: 100%;
}

.key-feature-image {
  padding: 0;
}

.feature-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 0rem solid #0f62fe;
  border-radius: 2px;
}

.team-container {
  background-color: #0f62fe;
}

.is-borderless {
  border: none !important;
  box-shadow: none !important;
}

.tabs-content > ul > li {
  display: none;
  list-style: none;
}

.tabs-content > ul > li.is-active {
  display: block;
}
